{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="../static/css/app.css">
    <script type=module src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="default_wrapper">
        <div class="chess_info">
            <p id="fen"></p>
        </div>
        <div class="chess_board">
            {% for i in range(0,8) %}
                {% for j in range(0,8) %}
                    <div id=box_{{ i }}_{{ j }} class="box"></div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}

