<html lang="en">
<head>
    <meta charset="utf-8">

    <title>ZPR Chess</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="../static/css/layout.css">
    <link rel="stylesheet" href="../static/css/global.css">
    {% block head %}{% endblock %}
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="header_info">
                <div class="titles" onclick="window.location.href='/';">
                    <div class="bigTitle">ZAAWANSOWANE PROGRAMOWANIE W C++</div>
                    <div class="smallTitle fontConsole">Projekt zaliczeniowy</div>
                </div>
                <div class="info fontConsole font14">
                    <p>
                    Skład zespołu: <br><br>
                    Jakub Jurasz <br>
                    Konrad Owsikowski <br>
                    </p>
                </div>
            </div>
            <div class="header_content">
                <div class="header_content_buttons">
                    <button class="header_button" onclick="window.location.href='/home';">Home</button>
                </div>
                {% block header %}{% endblock %}
            </div>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer class="fontConsole font12">
            <p>Copyright 2021 Blah Blah Blah</p>
        </footer>
    </div>
</body>
</html>