{% extends "layout.html" %}
{% block content %}
    <div class="login_wrapper">
        <form method="POST" action="" autocomplete="off">
            {{ form.hidden_tag() }}
            <div class="form_wrapper">
                <p class="form_title">Log In</p>
                <div class="form_field">
                    {{ form.username.label(class="float_left") }}
                    {{ form.username(class="float_right") }}
                </div>
                <div class="form_field">
                    {{ form.password.label(class="float_left") }}
                    {{ form.password(class="float_right") }}
                </div>
                <div class="form_field">
                    {{ form.submit(class="global_button") }}
                </div>
            </div>
        </form>
    </div>
{% endblock content %}