{% extends "layout.html" %}
{% block content %}
    <div class="control_panel">
        <button class="header_button big_button" onclick="window.location.href='/new_proposal/healthcare';">Opieka medyczna</button>
        <button class="header_button big_button" onclick="window.location.href='/new_proposal/housing_assistance';">Pomoc mieszkaniowa</button>
        <button class="header_button big_button" onclick="window.location.href='/new_proposal/allowance';">Zapomoga</button>
        <button class="header_button big_button" onclick="window.location.href='/new_proposal/cultural_event';">Impreza kulturalna</button>
        <button class="header_button big_button" onclick="window.location.href='/new_proposal/vacation_refund';">Refundacja wakacji</button>
    </div>
{% endblock content %}
