{% extends "layout.html" %}
{% block header %}
    <button class="header_button" onclick="window.history.go(-1);">Powrót</button>
{% endblock header %}
{% block content %}
<div class="proposal_table_wrapper">
    <table class="proposals_table">
        <tr>
            <td>Rodzaj uslugi</td>
            <td>{{ data['rodzaj_uslugi']  }}</td>
        </tr>
        <tr>
            <td>Tresc wniosku</td>
            <td>{{ data['uwaga']  }}</td>
        </tr>
        <tr>
            <td>Data zlozenia</td>
            <td>{{ data['data_zlozenia'].date()  }}</td>
        </tr>
        <tr>
            <td>Wymagany dokument</td>
            <td>{{ data['wymagany_dokument']  }}</td>
        </tr>
        <tr>
            <td>Decyzja</td>
            <td>{{ data['decyzja']  }}</td>
        </tr>
        <tr>
            <td>Uwaga komisji</td>
            <td>{{ data['uwaga_komisji']  }}</td>
        </tr>
    </table>

</div>
{% endblock content %}