{% extends "layout.html" %}
{% block header %}
    <button class="header_button" onclick="window.location.href='/home';">Powrót</button>
{% endblock header %}
{% block content %}
    <div class="register_form">
        <form method="POST" action="" autocomplete="off" novalidate>
            {{ form.hidden_tag() }}
            <div class="login_wrapper">
                <p class="loginTitle">Register</p>
                <div class="login">
                    {{ form.username.label(class="form_control_label") }}
                    {{ form.username(class="form_control_box") }}
                    {%  if form.username.errors %}
                        <div class="error font12">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="login">
                    {{ form.email.label(class="form_control_label") }}
                    {{ form.email(class="form_control_box") }}
                    {%  if form.email.errors %}
                        <div class="error font12">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="password">
                    {{ form.password.label(class="form_control_label") }}
                    {{ form.password(class="form_control_box") }}
                    {%  if form.password.errors %}
                        <div class="error font12">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="password">
                    {{ form.confirm_password.label(class="form_control_label") }}
                    {{ form.confirm_password(class="form_control_box") }}
                    {%  if form.confirm_password.errors %}
                        <div class="error font12">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="submit">
                    {{ form.submit(class="btn") }}
                </div>
            </div>
        </form>
    </div>
{% endblock content %}