{% extends "layout.html" %}
{% block header %}
    <button class="header_button" onclick="window.location.href='/my_proposals';">Powrót</button>
{% endblock header %}
{% block content %}
<div>
    <div class="proposal_table_wrapper">
        <table class="proposals_table">
            <tr>
                <td>Rodzaj uslugi</td>
                <td>{{ data['rodzaj_uslugi']  }}</td>
            </tr>
            <tr>
                <td>Tresc wniosku</td>
                <td>{{ data['uwaga']  }}</td>
            </tr>
            <tr>
                <td>Data zlozenia</td>
                <td>{{ data['data_zlozenia'].date()  }}</td>
            </tr>
            <tr>
                <td>Wymagany dokument</td>
                <td>{{ data['wymagany_dokument']  }}</td>
            </tr>
        </table>
    </div>
    <div class="decision_buttons">
        <form method="POST" action="" autocomplete="off">
            {{ form.hidden_tag() }}
            <div class="login_wrapper">
                <div class="login">
                    {{ form.opinion.label(class="form_control_label") }}
                    {{ form.opinion(class="form_control_box") }}
                </div>
                <div class="submit">
                    {{ form.submit_reject(class="btn reject_button") }}
                    {{ form.submit_accept(class="btn accept_button") }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}